@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap');
/** font-family "Roboto", Sans serf;**/

@font-face {
    font-family: jungel;
    src: url(../fonts/jungle.ttf);
}

.logo {
    font-family: jungel;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    
    background-color: rgba(115, 167, 136, 8);
    padding: 20px;
    margin-bottom: 20px;

}

header a {
    text-decoration: none;
}
.logo {
    background: url(../images/logo.png) no-repeat;
    width: 100px;
    height: 100px;
    
    background-size: 100px;
    font-family: jungel;
    font-size: 42px;
    color: #135e46;
    padding-left: 100px;
    text-shadow: 3px 3px black;
    transition: .3s;
}
.logo:hover {
    transform: translate(10px);
    color: white;
}
nav {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
nav a {
    font-family: jungel;
    font-size: 26px;
    color: #b67b65;
    text-shadow: 2px 2px black;
    transition: .3s;
}
nav a:hover {
    transform: scale(1.2);
    color: white;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url(../images/slothEating.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;

}
.meeetsloth {
    height: 400px;
    width: 100%;
    background-color: rgba(115, 167, 136, 8);
}

.meeetsloth h1 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px black;
    margin: 0 0 40px 30px;
    padding-top: 40px;

}
.sloths {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}
.sloths div {
    width: 25%;;
    height: 240px;
    border: 5px solid white;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.sloth1 {
    background-image: url(../images/slothHanging.jpg);
}
.sloth2 {
    background-image: url(../images/slothClimbing.jpg);
}
.sloth3 {
    background-image: url(../images/slothInTree.jpg);
}

footer {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto", sans-serif;

}

footer img {
    width: 50px;
}